{% load static %}
<html>
    <head>
        <title>
            css templete
        </title>
    
    <link href="{% static 'images\CDGI Logo (1).png' %}" rel="icon">
    <link href="{% static 'css\style2.css' %}" rel="stylesheet">
    
</head>
<body>
    <div id="maindiv">
        <div id="info">
            <marquee  direction="right" style="margin-top: -15;"><h3>Top Engineering Colleges In Indore, MP<a style="color: blue;">---------</a>Top Pharmacy Colleges 
                In Indore,MP <a style="color: blue;">---------</a>top Professional Colleges In Indore,MP
                <a style="color: blue;">---------</a>top Law colleges in Indore, MP</h3></marquee>
            
        </div>

        <div id="header">
            <div align="center" id="head1">
                <marquee direction="right">
                Css templete </marquee></div>
<img src="{% static 'images\CDGI Logo (1).png' %}" id="logo1">
<img src="{% static 'images\logo-right.png' %}" id="logo2">
<img src="{% static 'images\CDIP Logo.png' %}" id="logo3">
<img src="{% static 'images\CDIPS Logo.png' %}" id="logo4">
<img src="{% static 'images\cdgi logo.png' %}" id="logo5">
<div id="head2">
    <strong style="color: red;">CHAMELI DEVI GROUP OF INSTITUTIONS</strong>
    <span style="color: red;">INDORE, MADHYA PRADESH</span>
</div>
        </div>
        {% include 'menu.html' %}
        <div id="content">
           <div style="background: white;
           height: 500px;
           width: 320px;
           margin-right: auto;
           color:black;
           ">
            <center> 
                <h3>Engineering</h3> </center>
            <a style="color:black;" href="#"><h6 > > B.tech Computer Science Engineering</h6></a>
            <a style="color:black;" href="#"><h6> > B.tech Artificial Intelligence & Data Science</h6></a>
            <a style="color:black;" href="#"><h6> > B.tech Information Technology</h6></a>
            <a style="color:black;" style="color:black;" href="#"><h6> > B.tech Computer Science & Information Technology</h6></a>
            <a style="color:black;" href="#"><h6> > B.tech Electronic & Communication</h6></a>
            <a style="color:black;" href="#"><h6> > B.tech Civil Engineering</h6></a>
            <a style="color:black;" href="#"><h6> > B.tech Mechanical Engineering</h6></a>
            
           </div>
          <div style="background:white;
          height: 500px;
          width: 230px;
          margin-left: 320px;
          margin-top: -519px;
          color:black;">
            <h3>  Management</h3>
            <a style="color:black;" href="#"><h6>   > MBA Finance </h6></a>
            <a style="color:black;" href="#"><h6>   > MBA Marketing </h6></a>
            <a style="color:black;" href="#"><h6>   > MBA HR </h6></a>
            <a style="color:black;" href="#"><h6>   > MBA Buisness Analytic </h6></a>
          </div>
           <div style="background: white;
           height: 500px;
           width: 250px;
           margin-left: 550px;
           margin-top: -519px;
           color:black;">
           <h3>  Pharmacy</h3>
            <a style="color:black;" href="#"><h6> > B.pharmacy</h6></a>
            <a style="color:black;" href="#"> <h6> > M.Pharmacy</h6></a>
            <a style="color:black;" href="#"><h6> > D.Pharmacy</h6></a>
           </div>
           <div style="background:white;
           height: 500px;
           width: 250px;
           margin-left: 800px;
           margin-top: -519px;
           color:black;">
            <h3>Law</h3>
            <a style="color:black;" href="#"><h6>> BBA LLB HONS</h6></a>
            <a style="color:black;" href="#"><h6>> BA LLB HONS</h6></a>
            <a style="color:black;" href="#"><h6>>   LLB HONS</h6></a>
           </div>
            <h3>UG COURESES</h3>
            <div style=" background:white;
            height: 500px;
            width: 200px;
            margin-left: 1050px;
            margin-top: -558px;
            color:black;">
            <h3>UG COURESES</h3>
            <a style="color:black;" href="#"><h6>> BBA FT</h6></a>
            <a style="color:black;" href="#"><h6>> BBA PLAIN</h6></a>
            <a style="color:black;" href="#"><h6>> BCA</h6></a>
            <a style="color:black;" herf="#"><h6>> B.COM C.A.</h6></a>
            <a style="color:black;" href="#"><h6>> B.COM PLAIN</h6></a>
            <a style="color:black;" href="#"><h6>> B.COM  HONS</h6></a>

           </div>

        </div>
        <div id="clogo">
           <div id="clogo1">
            <marquee direction="right">
                <img src="{% static 'images\tcs.png' %}" id="cimage" > 
                <img src="{% static 'images\samsung.png' %}" id="cimage" >  
                <img src="{% static 'images\amd.png' %}" id="cimage" >  
                <img src="{% static 'images\cogz.png' %}" id="cimage" >  
                <img src="{% static 'images\hexaware.png' %}" id="cimage" >  
                <img src="{% static 'images\imp.png' %}" id="cimage" >  
                <img src="{% static 'images\innoeye.png' %}" id="cimage" > 
                <img scr="{% static 'images\cap.png' %}" id="cimage" >
                <img scr="{% static 'images\mind.png' %}" id="cimage" >
                <img scr="{% static 'images\zensar.png' %}" id="cimage" >
                <img src="{% static 'images\tcs.png' %}" id="cimage" > 
            <img src="{% static 'images\samsung.png' %}" id="cimage" >  
            <img src="{% static 'images\amd.png' %}" id="cimage" >  
            <img src="{% static 'images\cogz.png' %}" id="cimage" >  
            <img src="{% static 'images\hexaware.png' %}" id="cimage" >  
            <img src="{% static 'images\imp.png' %}" id="cimage" >  
            <img src="{% static 'images\innoeye.png' %}" id="cimage" > 
            <img scr="{% static 'images\cap.png' %}" id="cimage" >
            <img scr="{% static 'images\mind.png' %}" id="cimage" >
            <img scr="{% static 'images\zensar.png' %}" id="cimage" >
            <img src="{% static 'images\tcs.png' %}" id="cimage" > 
            <img src="{% static 'images\samsung.png' %}" id="cimage" >  
            <img src="{% static 'images\amd.png' %}" id="cimage" >  
            <img src="{% static 'images\cogz.png' %}" id="cimage" >  
            <img src="{% static 'images\hexaware.png' %}" id="cimage" >  
            <img src="{% static 'images\imp.png' %}" id="cimage" >  
            <img src="{% static 'images\innoeye.png' %}" id="cimage" > 
            <img scr="{% static 'images\cap.png' %}" id="cimage" >
            <img scr="{% static 'images\mind.png' %}" id="cimage" >
            <img scr="{% static 'images\zensar.png' %}" id="cimage" >   
            </marquee></div>

           </div>
        </div>
        <div id="footer1">
            <div id="footera">
                <img src="{% static 'images\CDGI Logo (1).png' %}" id="logo6">
                <a  style="font-size: small;">The renowned Agarwal group, having it’s headquarter at
                     Indore, was established in 1966 under the strong vision 
                     and able leadership of Group Chairman Shri. Purushottam 
                     Agarwal.</a>
                     <div class="social-icons">
                        <div class="fa">
                            <img  scr="{% static 'images\fb.png' %}"></div>
                     </div>
            </div>
            <div id="footerb">
                <a align="center" style="font-weight: bolder;">Quick Links</a>
                <a  href="#" id="head3"><h4> > Fee Payment</h4> </a>
                <a href="#"  id="head3"><h4> > UGC 2(f) Certificate</h4></a>
                <a href="#" id="head3"><h4> > Anti-Ragging Cell</h4></a>
                <a href="#" id="head3"><h4> > Women Development Centre (WDC)</h4></a>
                <a href="#" id="head3"><h4> > Bus Route</h4></a>
                <a href="#" id="head3"><h4> > Mandatory Disclosures</h4></a>
                <a href="#" id="head3"><h4> > Online Grievance Redressal</h4></a>
                <a href="#" id="head3"><h4> > Internal Complaints Committe</h4></a>
                <a href="#" id="head3"><h4> > Student Testimonial</h4> </a>


            </div>
            <div id="footerc">
                <a align="center" style="font-weight:bolder">Get In Touch</a>
                <a href="#" id="head3"><h4>Address: Village Umrikheda, Khandwa Road, </h4></a>
                <a href="#" id="head3"><h4>Indore, Madhya Pradesh, Pin:452020</h4></a>
                <a href="#" id="head3"><h4>Tel: +917314243600</h4></a>
                <a href="#" id="head3"><h4> Fax: +917314243620</h4></a>
                <a href="#" id="head3"> <h4> info@cdgi.edu.in</h4></a>
                
            </div>
             
        </div>
        <div id="footer" align="center"
        style="color: white">
        Gram Umrikheda, Near Toll Naka, Khandwa Road, Indore, Madhya Pradesh Pin:- 452020 
        | All Rights Reserved. &copy;Chameli Devi Group of Institutions
        
        </div>
    </div>
    
</body>
</html>