<div id="menu">
    
    <a style="font-size:x-small;" href="home/">home<a>
    
    
        <a  style="font-size:x-small;" href="/about/">ABOUT AS</a>
        <a style="font-size:x-small;" href="/course/">COURESES</a>
        <a style="font-size:x-small;" href="addmision/">ADMISSIONS</a>
        <a style="font-size:x-small;" href="studentcorner/">STUDENT CORNER</a>
        <a style="font-size:x-small;" href="placement/">PLACEMENTS</a>
        <a style="font-size:x-small;" href="event/">EVENT</a>
        <a style="font-size:x-small;" href="carrer/">CAREER</a>
        
        <a style="font-size:x-small;" href="acadmic/">ACADMICS</a>
        <a style="font-size:x-small;" href="contact/">CONTACT AS</a>
</div>